<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' http-equiv="refresh" content="30"/>
    <title>Biggest Five For Five (B545)</title>
    <!-- <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' /> -->
    <link href="css/bootstrap-combined.min.css" rel='stylesheet'/>
  </head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  <%= @user_session_status %>
  <br><br><br>
  <body class='container'>
    <h1 align="center"><%= @title %></h1><br>
    <table style="width:100%">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Entry Fee Paid</th>
        <th>Largemouth Weight (lbs-oz)</th>
        <th>Smallmouth Weight (lbs-oz)</th>
        <th>Total Weight (lbs-oz)</th>
        <th>Behind Leader By (lbs-oz)</th>
      </tr>
      <% @bb_table.each do |row| %>
      <tr>
        <td><%=row['rank']%></td>
        <td><%=row['name']%></td>
        <td><%=row['entry_fee_paid']%></td>
        <td><%=row['largemouth_weight']%></td>
        <td><%=row['smallmouth_weight']%></td>
        <td><%=row['total_weight']%></td>
        <td><%=row['deficit']%></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
