<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>Biggest Bass Leaderboard</title>
    <!--<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />-->
    <link href="../css/bootstrap-combined.min.css" rel='stylesheet'/>
  </head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  <%= @user_session_status %>
  <%= @admin_functions_button %>
  <br><br><br>
  <body class='container'>
    <h1 align="center"><%= @title %></h1><br>
    <table style="width:100%">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Entry Fee Paid</th>
        <th>Largemouth Weight (lbs-oz)</th>
        <th>Largemouth Photos</th>
        <th>Smallmouth Weight (lbs-oz)</th>
        <th>Smallmouth Photos</th>
        <th>Total Weight (lbs-oz)</th>
        <th>Behind Leader By (lbs-oz)</th>
      </tr>
      <% @bb_table.each do |row| %>
      <tr>
        <td><%=row['rank']%></td>
        <td><%=row['name']%></td>
        <td><%=row['entry_fee_paid']%></td>
        <td><%=row['largemouth_weight']%></td>
        <%=
          if !row['largemouth_img_src_1'].to_s.empty? && !row['largemouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['largemouth_img_src_1']}\"><img src=\"#{row['largemouth_img_src_1']}\" class=\"img-rounded\" height=\"50\" width=\"50\"></a> <a href=\"#{row['largemouth_img_src_2']}\"><img src=\"#{row['largemouth_img_src_2']}\" class=\"img-rounded\" height=\"50\" width=\"50\"></a></td>"
          elsif !row['largemouth_img_src_1'].to_s.empty? && row['largemouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['largemouth_img_src_1']}\"><img src=\"#{row['largemouth_img_src_1']}\" class=\"img-rounded\" height=\"50\" width=\"50\"> </a></td>"
          elsif row['largemouth_img_src_1'].to_s.empty? && !row['largemouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['largemouth_img_src_2']}\"><img src=\"#{row['largemouth_img_src_2']}\" class=\"img-rounded\" height=\"50\" width=\"50\"> </a></td>"
          else
            "<td></td>"
          end
        %>
        <td><%=row['smallmouth_weight']%></td>
        <%=
          if !row['smallmouth_img_src_1'].to_s.empty? && !row['smallmouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['smallmouth_img_src_1']}\"><img src=\"#{row['smallmouth_img_src_1']}\" class=\"img-rounded\" height=\"50\" width=\"50\"></a> <a href=\"#{row['smallmouth_img_src_2']}\"><img src=\"#{row['smallmouth_img_src_2']}\" class=\"img-rounded\" height=\"50\" width=\"50\"></a></td>"
          elsif !row['smallmouth_img_src_1'].to_s.empty? && row['smallmouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['smallmouth_img_src_1']}\"><img src=\"#{row['smallmouth_img_src_1']}\" class=\"img-rounded\" height=\"50\" width=\"50\"> </a></td>"
          elsif row['smallmouth_img_src_1'].to_s.empty? && !row['smallmouth_img_src_2'].to_s.empty?
            "<td><a href=\"#{row['smallmouth_img_src_2']}\"><img src=\"#{row['smallmouth_img_src_2']}\" class=\"img-rounded\" height=\"50\" width=\"50\"> </a></td>"
          else
            "<td></td>"
          end
        %>
        <td><%=row['total_weight']%></td>
        <td><%=row['deficit']%></td>
      </tr>
      <% end %>
    </table>
    <p><br><br></p>
    <%= @error_msg %>
    <%= @success_msg %>
    <%= @submit_weight %>
    <p><br><br></p>
    <h4 align="center">Global Actions History</h4>
    <table style="width:100%">
      <tr>
        <th>DateTime</th>
        <th>Type</th>
        <th>User</th>
        <th>Action</th>
      </tr>
      <% @bb_history.each do |row| %>
      <tr>
        <td><%=row['datetime']%></td>
        <td><%=row['type']%></td>
        <td><%=row['name']%></td>
        <td><%=row['action']%></td>
      </tr>
      <% end %>
    </table
  </body>
</html>
